
	<div class="potree_container" id="potree_container" >
		<div id="potree_render_area" ></div>
	</div>

	<div class="botones">
	<button id="save" class="saveEditBtn btn btn-primary" (click)="showSave();">Save</button>
	<button id="saveExit" class="saveExitEditBtn btn btn-primary" (click)="showSaveAndExit();">Save and Exit</button>
	
	<button id="change" class="changeEditBtn btn btn-primary" (click)="showConfirm();" >Change Model </button>
	<button id="exit" class="exitEditBtn btn btn-danger" (click)="showCancel();" >Cancel </button>
</div>