.exitEditBtn{
    margin:3%;
}
.saveExitEditBtn{
    margin:3%;
    width: 200px;;

}
.saveEditBtn{
    margin:3%;

}


.changeEditBtn{
    margin:3%;
    width: 200px;;

}

.botones{
    position: absolute;
    z-index: 2;
    display: flex;
    left: 38%;
    top: 89%;
    height: 70px;
    
}


canvas{
    
    top: 0px;
    position: absolute;

}

#change3d , 
#save3d, 
#saveExit3d,
#exit3d
{
    display: none;
}