
<canvas id="renderCanvas" touch-action="none"></canvas>
<div class="botones">
<button id="save3d" class="saveEditBtn btn btn-primary" (click)="showSave();">Save</button>
<button id="saveExit3d" class="saveExitEditBtn btn btn-primary" (click)="showSaveAndExit();">Save and Exit</button>

<button id="change3d" class="changeEditBtn btn btn-primary" (click)="showConfirm();" >Change Model </button>
<button id="exit3d" class="exitEditBtn btn btn-danger" (click)="showCancel();" >Cancel </button>

</div>